<!DOCTYPE html>
<html>
<head>
<title>Регистрация</title>
<meta charset = "UTF-8">
<link rel = "stylesheet" href = "C:/Users/Vadim/IdeaProjects/RouteApp/src/main/resources/static/css/regStyle.css">
</head>
<body>
	<h2>Создать аккаунт</h2>
	<form action = "" method = "post">
	<label for = "name">Имя</label>
		<input type = "text" name = "name" id = "name" placeholder = "Введите имя"><br /><br />
	<label for = "email">Почта</label>
		<input type = "email" name = "email" id = "email" placeholder = "Введите вашу почту"><br /><br />
	<label for = "password">Пароль</label>
		<input type = "password" name = "password" id = "password" placeholder = "Введите пароль"><br /><br />
	<label for = "birthday">Дата рождения</label>
		<input type = "date" id = "birthday" name = "birthday" value = "1999-01-01"><br /><br />
	<label for = "gender">Пол</label>
		<input type = "radio" id = "gender" name = "gender">Мужской
		<input type = "radio" id = "gender" name = "gender">Женский<br /><br />
	<input type = "submit" id = "registr" name = "registr" value = "Регистрация">
	</form>
</body>
</html>